@use  '../../App.scss';

.bkg{
    width: 100%;
}
// Text Grid
.gridTextContainer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
// Project Containers
.projectSection{
    width: 100%;
    overflow: hidden;
    padding: 1rem;
}
.projectWrapper, .verticalWrap{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0rem;
}
@media (min-width: 360px) {
    .projectSection{
        padding: 1rem 2rem;
    }
}
@media (min-width: 500px) {
    .projectSection{
        padding: 1rem 3rem;
    }
}
@media(min-width: 768px){
    .projectWrapper:hover .deviceImg{
        width: 95%;
        transition-duration: 500ms;
    }
    .polyglot{
        float: right;
    }
    .verticalWrap{
        display: inline-flex;
        width: 45%;
        height: 600px;
    }
}
@media (min-width: 1111px) {
    .projectSection{
        padding-left:calc(50% - 500px);
        padding-right: calc(50% - 500px);
    }
}


// Projects Grid
.gridCard{
    height: 100%;
    max-width: 450px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    justify-items: center;
    text-align: center;
    border-radius: 28px;
    box-shadow: 1px 4px 9px 4px rgba(0, 0, 0, 0.3), 
        -4px -4px 9px 5px rgb(255, 255, 255);
}
.gridDevices{
    grid-column: 1/-1;
    grid-row: 2/3;
    align-self: center;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.gridProjectTitle,.gridSkills, .gridViewBtn{
    align-self: center;
}
.gridProjectTitle{
    grid-column: 1/-1;
    grid-row: 3/4;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
.gridSkills{
    grid-column: 1/-1;
    grid-row: 4/5;
    padding-bottom:1rem;
}
.gridViewBtn{
    grid-column: 1/-1;
    grid-row: 5/6;
    width: 100%;
    padding-bottom: 2rem;
}
@media(min-width: 320px){
 .gridCard{
     width: 100%;
 }   
 .gridSkills, .gridProjectTitle, .gridViewBtn{
     grid-column: 2/12;
 }
}
@media (min-width: 768px) {
    .gridDevices{
        grid-row: 1/2;
    }
    .gridCard{
        transform: translateZ(50px);
        height: 550px;
    }
    .horizGridCard{
        text-align: left;
        row-gap: 0;
        height: 410px;
        max-height: 550px;
        max-width: 1000px;
    }
    .horizGridTitle, .horizGridSkills{
        grid-column: 2/5;
    }
    .horizGridViewBtn{
        grid-column: 2/6;
    }
    .horizGridTitle{
        grid-row: 1/2;
        align-self: flex-end;
        justify-self: flex-start;
    }
    .horizGridSkills{
        grid-row:2/3;
    }
    .horizGridViewBtn{
        grid-row: 3/4;
        align-self: flex-start;
    }
    .horizGridDevices{
        grid-column: 6/13;
        grid-row:1/4;
    }
}


// Gradient Backgrounds
.gradientColorOne, .gradientColorTwo, .gradientColorThree{
    width: 101%;
    height: 100%;
}
.gradientColorOne{
    background: linear-gradient(180deg, #C99FFF 0%, rgba(255, 255, 255, 0) 100%), #4A4EFF;
}
.gradientColorTwo{
    background: linear-gradient(180deg, #0ABAC2 0%, rgba(255, 255, 255, 0) 100%), #B2DE94;
}
.gradientColorThree{
    background: linear-gradient(180deg, #FBD786 0%, rgba(255, 255, 255, 0) 100%), #F7797D;
}
.bkgPattern{
    width: 100%;
    background: url('../../assets/bkg-pattern.png') no-repeat;
    height: 100%;
    display: flex;
    align-content: center;
}

// Images
.deviceImg{ 
    width: 100%;
    margin: 1rem auto;
}
@media(min-width: 768px){
    .deviceImg{
        width:90%;
        margin: auto;
        transition-duration: 500ms;
    }
    .polyImg{ 
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
@media (min-width: 1200px) {
    .polyImg{
        padding-bottom: 0.8rem;
    }
}

// Skills 
.skill{
    border: 2px solid App.$darkPurple;
    border-radius: 30px;
    color: App.$darkPurple;
    color:App.$darkPurple;
    display: inline-block;
    padding: 0px 4px;
    margin: 3px;
    font-size: 0.9em
}
.skillsOne{
    color: #4e52ff;
    border-color: #4e52ff;
}
.skillsTwo{
    color: #23c0c2;
    border-color: #23c0c2;
}
.skillsThree{
    color: #f77b7f;
    border-color: #f77b7f;
}

// Text
.projTitle{
    font-family: App.$headingFont;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: 600;
}

//Button
.viewBtn{
    border-radius: 30px;
    background-color: App.$lightPurple;
    padding: 6px 12px;
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
}
.viewBtn:focus, .viewBtn:link{
    text-decoration: none;
}
.btnOne{
    background: linear-gradient(90deg, #C99FFF 0%, rgba(255, 255, 255, 0) 100%), rgba(74, 78, 255, 0.59);
}
.btnTwo{
    background: linear-gradient(90deg, #abd192 0%, rgba(255, 255, 255, 0) 100%), rgba(10, 186, 194, 0.59);
}
.btnThree{
    background: linear-gradient(90deg, #eccb7e 0%, rgba(255, 255, 255, 0) 100%), #F7797D;
}
.btnText{
    color: white;
    @include App.buttonText;
}
@media (min-width: 768px) {
    .liveSiteMargin{
        margin-left: 0;
    }
}