@use '../../App.scss';

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    background: #FAFAFF;
    border-radius: 90px 0px 0px 0px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.gridHeading, .gridIconsOne, .gridIconsTwo, .gridIconsThree{
    grid-column: 1/-1;
    text-align: center;
}
.gridHeading{
    grid-row: 1/2;
    padding-bottom: 1rem;
}
.gridIconsOne{
    grid-row: 2/3;
}
.gridIconsTwo{
    grid-row: 3/4;
}
.gridIconsThree{
    grid-row: 4/5;
}
@media(min-width: 768px){
    .gridIconsOne, .gridIconsTwo, .gridIconsThree{
        grid-row: 2/3;
    }
    .gridIconsOne{
        grid-column: 2/5;
        border-right: 1px solid rgba(0, 0, 0, 0.35);
    }
    .gridIconsTwo{
        grid-column: 5/9;
        border-right: 1px solid rgba(0, 0, 0, 0.35);
    }
    .gridIconsThree{
        grid-column: 9/12;
    }
}
@media(min-width: 940px){
    .gridIconsTwo{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media(min-width: 1600px){
    .gridIconsOne{
        grid-column: 4/6;
    }
    .gridIconsTwo{
        grid-column: 6/8;
    } 
    .gridIconsThree{
        grid-column: 8/10;
    }
        
}

// Icons
.icon{
   font-size: 2rem;
}
.iconWrap{
    display: inline-block;
    width: 85px;
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}

@media(min-width: 320px){
    .iconWrap{
        margin: 1rem 0.5rem;
    }
}
@media(min-width: 411px){
    .iconWrap{
        margin: 1rem;
    }
}
@media(min-width: 500px){
    .iconWrap{
        margin: 1rem 2rem;
    }
}
@media(min-width: 768px){
    .iconWrap{
        margin: 1rem 0.25rem;
    }
    .icon{
        font-size: 2.5rem;
     }
     .wrapTo{
        width:100%;
        margin: 1rem auto;
    }
}
@media (min-width: 940px) {
    .iconWrap{
        margin: 1rem;
    }
}