@use '../../App.scss';

// Grid Level
.grid{
    min-height: 100vh;
    align-content: center;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow:hidden;
}
.gridText{
    grid-column: 2/12;
    z-index: 1;
    grid-row: 1/2;
}
.gridComputerBkg{
    grid-column: 1/-1;
    grid-row: 1/2;
    height: 100%;
}

@media(min-width: 768px){
    .grid{
        align-content: flex-start;
        min-height: 85vh;
    }
    .gridComputerBkg{
        grid-column: 6/-1;
    }
    .gridText{
        grid-column: 2/6;
        padding-top: 10rem;
    }
}

@media(min-width: 1024px){
    .gridText{
        padding-top: 11rem;
        padding-left: 2rem;
    }
}
@media(min-width:1400px){
    .gridText{
        grid-column: 3/6;
        padding-left: 0;
    }
}
@media(min-width: 1800px){
    .gridText{
        padding-left: 2rem;
    }
}

//INNER GRID

//Text Styling
.textRowOne, .textRowTwo{
    text-transform: uppercase;
}
.textRowOne, .textRowThree{
    font-family: App.$textFont;
    font-weight: 500;
    color: App.$black;
    letter-spacing: 0.03em;
    font-size: 1.1em;
}
.textRowOne{
    margin-bottom: 0.5rem;
}
.textRowTwo{
    margin-bottom: 1.5rem;
}
.rowTwoHeading{
    font-family: App.$headingFont;
    font-weight: 800 !important;
    color: #333333;
}
.textRowThree{
    margin-bottom: 2.5rem;
}
.dani{
    color: #FF4770;
}
@media(min-width: 1024px){
    .textRowOne, .textRowThree{
        font-size: 1.2em;
    }
    .rowTwoHeading{
        font-size: 2em;
    }
}
//Button
.viewBtn{
    border-radius: 30px;
    background-color: App.$darkPurple;
    padding: 6px 10px;
    border: none;
}
.btnText{
    color: white;
    @include App.buttonText;
}

// Computer Slide In Animation
@keyframes slideIn {
    0%, 10% {
        transform: translateY(-1000px);
    }
    95%, 100%{
        transform: translateY(0);
    }
}

//Grid Two Computer Styling
.computerWrapper{
    height: 100%;
    background: url('../../assets/landing-bkg.png') no-repeat top right;
    background-size: 100% 95%;
    display: none;
}
.computerImg{
    width: 350px;
    padding-left: 3rem;
    margin: auto;
    display: none;
}
@media(min-width: 768px){
    .computerWrapper{
        display: block;
        padding-top: 10rem;
    }
    .computerImg{
        display: block;
        animation: slideIn 1200ms;
    }
}
@media(min-width: 1020px){
    .computerImg{
        width:375px
    }
    .computerWrapper{
        background-size: 100% 100%;
    }
}
@media(min-width:1200px){
    .computerImg{
        width: 375px;
    }
    .computerWrapper{
        padding-top: 9rem;
    }
}
@media(min-width: 1800px){
    .computerImg{
        width: 400px;
    }
    .computerWrapper{
        padding-top: 8.5rem;
        padding-right: 2rem;
    }
}


// Child Components
.projects{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 6rem;
}