@use '../../App.scss';

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow:hidden;
    background-color: App.$darkPurple;
}
.bkgColor{
    grid-column: 1/-1;
    background-color: #231E41;
    border-radius: 0px 90px 0px 0px;
    grid-row: 1/5;
}
.gridIcons{
    grid-column: 2/12;
    padding-top: 2rem;
    grid-row: 3/4;
}
.gridForm{
    padding-top: 2rem;
    grid-row: 4/5;
    grid-column: 2/12;
    width: 100%;
    padding-bottom: 3rem;
}
@media(min-width: 500px){
    .gridIcons{
        grid-column: 3/11;
    }
}
@media(min-width: 640px){
    .gridIcons{
        padding-top: 2rem;
    }
}
@media(min-width: 768px){
    .bkgColor{
        grid-row: 1/3;
        width: 97vw;
    }
    .gridIcons{
        grid-column: 2/5;
        grid-row: 2/3;
    }
    .gridForm{
        grid-column: 7/12;
        grid-row: 2/3;
    }
}
@media(min-width:1024px){
    .grid{
        padding-right: 2rem;
    }
    .gridIcons{
        padding-left: 2rem;
    }
}
@media(min-width: 1400px){
    .grid{
        padding: 0rem;
    }
    .gridIcons{
        grid-column: 3/5;
        padding-left: 0rem;
    }
    .gridForm{
        grid-column: 6/11;
    }
}
@media (min-width: 1510px) {
    .gridForm{
        padding-right: 3rem;
    }
}
@media (min-width: 1530px) {
    .gridIcons{
      padding-left: 2rem;
    }
  }
  @media (min-width: 1640px) {
    .gridIcons{
      padding-left: 4rem;
    }
  }
  @media (min-width: 1700px) {
    .gridIcons{
      padding-left: 5rem;
    }
    .gridForm{
        padding-right: 5rem;
    }
  }

//INNER GRID STYLES

// Icons
.iconWrapper{
    text-align: center;
}
.icon, .iconLabel{
    color: white;
}
.icon{
    font-size: 2rem;
    width: 2rem;
}
.iconLabel{
    letter-spacing: 0.03em;
    font-size: 0.85em;
}
.iconContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media(min-width: 768px){
    .iconContainer{
        flex-direction: column;
        justify-content: space-around;
        height: 65%;
        padding-top: 2rem;
    }
    .iconLabel, .icon{
        display: inline-block;
    }
    .iconLabel{
        padding-left: 1rem;
        font-size: 1em;
    }
    .iconWrapper{
        text-align: left;
    }
}

// Text
.purpleText{
    font-weight: 400;
    color: App.$lightPurple;
}
.header{
    color: white;
    font-weight: 800;
}
.hello{
    color: App.$lightPurple;
}
.headerParagraph{
    color: white;
    letter-spacing: 0.03em;
}
@media(min-width: 768px){
    .headerParagraph{
        padding-top: 2rem;
    }
}