@use '../App.scss';

//GRID LEVEL
.gridWrapper{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow:hidden;
}
.gridOneText{
    grid-column: 2/6;
    height: 100vh;
}
.gridTwoImg{
    grid-column: 6/-1;
    height: 100vh;
}
.gridSquare{
    grid-column: 1/4;
}
.gridOneText, .gridTwoImg, .gridSquare{
    grid-row: 1/2;
}

//INNER GRID

//Grid One Text Styling
.textWrapper{
    height: 87%;
    padding-left: 4rem;
    @include App.centerDiv;
}
.heading{
    @include App.heading;
    margin-bottom: 4rem;
}
.text{
    font-size: 35px;
}

//Grid Two Computer Styling
.computerWrapper{
    height: 100%;
    background: url('../assets/homeShape.jpg') no-repeat top right;
    background-size: 85% 100%;
    @include App.centerDiv;
}
.computerImg{
    width: 500px;
}


// Grid Square Styling
.squareWrapper{
    padding-top: 5rem;
    padding-left: 4rem;
}
.squareImg{
    width: 350px;
}