@use '../App.scss';

//GRID LEVEL
.gridWrapper{
    height: 90vh;
    width: 100vw;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow:hidden;
    grid-template-rows: 15vh 85vh;
}
.gridOneText, .gridSquare{
    grid-row: 2/3;
}
.gridOneText{
    grid-column: 2/12;
}
.gridTwoImg{
    grid-column: 1/-1;
    grid-row: 1/2;
}
.gridSquare{
    grid-column: 1/4;
}

@media(min-width: 768px){
    .gridWrapper{
        grid-template-rows: auto;
        min-height: 100vh;
    }
    .gridOneText, .gridSquare, .gridTwoImg{
        grid-row: 1/2;
    }
    .gridTwoImg{
        grid-column: 6/-1;
        height: 100vh;
        grid-row: 1/2;
    }
    .gridOneText{
        grid-column: 2/6;
        height: 100vh;
    }
}
@media(min-width: 1200px){
    .gridOneText{
        grid-column: 2/7;
    }
}

//INNER GRID

//Grid One Text Styling
.textWrapper{
    padding-top: 4rem;
    @include App.centerDiv;
}
.heading{
    @include App.heading;
    margin-bottom: 2rem;
    font-size: 27px;
}
.text{
    font-size: 22px;
}
@media(min-width: 375px){
    .textWrapper{
        padding: 3rem;
        @include App.centerDiv;
    }
    .heading{
        @include App.heading;
        margin-bottom: 1rem;
        font-size: 32px;
    }
    .text{
        font-size: 25px;
    }
}
@media(min-width: 768px){
    .textWrapper{
        height: 87%;
    }
    .heading{
        font-size: 32px;
        margin-bottom: 2rem;
    }
    .text{
        font-size: 27px;
    }
}
@media(min-width: 1024px){
    .heading{
        font-size: 38px;
        margin-bottom: 2rem;
    }
    .text{
        font-size: 28px;
    }
}
@media(min-width: 1500px){
    .heading{
        font-size: 40px;
        margin-bottom: 3rem;
    }
    .textWrapper{
        padding-left: 2.5rem;
    }
}
@media(min-width: 1700px){
    .heading{
        @include App.heading;
        margin-bottom: 4rem;
    }
    .textWrapper{
        padding-left: 4rem;
    }
}

//Grid Two Computer Styling
.computerWrapper{
    height: 100%;
    background: url('../assets/homeShape.jpg') no-repeat top right;
    background-size: 100% 80%;
    @include App.centerDiv;
}
.computerImg{
    width: 300px;
    padding-bottom: 6rem;
    padding-left: 1.5rem;
    display: none;
}
@media(min-width: 768px){
    .computerWrapper{
        background-size: 90% 73%;
    }
    .computerImg{
        display: block;
    }
}
@media(min-width: 900px){
    .computerImg{
        width:350px
    }
    .computerWrapper{
        background-size: 90% 77%;
    }
}
@media(min-width: 1020px){
    .computerImg{
        width:375px
    }
    .computerWrapper{
        background-size: 88% 80%;
    }
}
@media(min-width: 1200px){
    .computerWrapper{
        background-size: 86% 93%;
    }
    .computerImg{
        width: 425px;
        padding-bottom: 0;
    }
}
@media(min-width: 1600px){
    .computerImg{
        width: 475px;
    }
    .computerWrapper{
        background-size: 83% 100%;
    }
}

// Grid Square Styling
.squareWrapper{
    padding-left: 0.5rem;
}
.squareImg{
    width: 150px;
}
@media(min-width: 375px){
    .squareWrapper{
        padding-top: 0rem;
        padding-left: 1.5rem;
    }
    .squareImg{
        width: 225px;
    }
}
@media(min-width: 768px){
    .squareWrapper{
        padding-top: 3rem;
        padding-left: 1.5rem;
    }
    .squareImg{
        width: 200px;
    }
}
@media(min-width: 900px){
    .squareWrapper{
        padding-top: 3rem;
        padding-left: 2rem;
    }
    .squareImg{
        width: 225px;
    }
}
@media(min-width: 1400px){
    .squareWrapper{
        padding-top: 2rem;
        padding-left: 3rem;
    }
    .squareImg{
        width: 275px;
    }
}
@media(min-width: 1550px){
    .squareWrapper{
        padding-top: 2rem;
        padding-left: 5rem;
    }
    .squareImg{
        width: 350px;
    }
}