@use '../App.scss';

.wrapper {
    height: 100vh;
    background-color: white;
}
.aboutOuterWrapper{
    position: relative;
}
.aboutWrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: absolute;
}
.gridTwoAboutText, .gridOneColor {
    grid-row: 1/2;
}
.gridTwoAboutText {
    grid-column: 3/10;
    z-index: 1;
    display: flex;
}
.gridOneColor {
    background-color: App.$customBlue;
    grid-column: 2/-1;
}
.innerAboutText{
    margin: auto;
}
.aboutHeading {
    font-family: App.$headingFont;
    font-size: 65px;
}
.aboutParagraph {
    font-size: 40px;
    font-weight: 500;
    margin-top: 1rem;
}