@use '../App.scss';

.spacer{
    position:relative;
    height:200vh;
    min-height:400px;
    background-color:white;
    z-index:-10;
}

.leftPane{
    position:fixed;
    height:100vh;   
    width:100vw;
    top:0px;
    left:0px;
    z-index:-1;
    background-color:white;
    overflow-x: hidden;
}

.rightPane{
    position:fixed;
    height:100vh;
    top:0px;
    width:100vw;
    right:0px;
    z-index:1;
    background-color: white;
}


// Hello styles
// setting both divs to be on one row, so they'll overlap
.helloGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    width: 100%;
}
.gridOneHello, .gridTwoHelloColor{
    grid-row: 1/2;
}
.gridOneHello {
    height: 100%;
    font-family: App.$headingFont;
    font-size: 65px;
    grid-column: 1/-1;
    z-index: 1;
    @include App.centerDiv;
}
.gridTwoHelloColor{
    background-color: App.$customBlue;
    grid-column: 1/3;
    height: 100%;
}

@media(min-width: 425px){
    .gridOneHello{
        font-size: 95px;
    }
}
@media(min-width: 768px){
    .gridOneHello{
        font-size: 140px;
    }
}


// About styles
.aboutGrid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.gridOneAboutColor, .gridTwoAboutText {
    grid-row: 1/2;
}
.gridOneAboutColor{
    grid-column: 1/-1;
    height: 100vh;
    background-color: App.$customBlue;
}
.gridTwoAboutText{
    grid-column: 3/10;
    height: 100vh;
    z-index: 1;
    font-size:35px;
}
.aboutTextWrapper{
    height: 100vh;
    @include App.centerDiv;
}
.aboutHeading{
    font-family: App.$headingFont;
    font-size: 70px;
}
.aboutParagraph{
    margin-top: 2rem;
    width: 85%;
    font-size: 28px;
}


//on scroll classes
.moveHelloPanelRight{
    transform: translateX(100vw);
    transition-timing-function: ease-in;
    transition-duration: 1000ms;
    transition-delay: 100ms;
}
.moveHelloPanelLeft{
    transform: translateX(0vw);
    transition-timing-function: ease-out;
    transition-duration: 1000ms;
}
.hideHeader{
    opacity: 0;
    transition-duration: 100ms;
}
.showHeader{
    opacity: 1;
    transition-delay: 800ms;
    transition-duration: 700ms;
}
.hideParagraph{
    opacity: 0;
    transition-duration: 100ms;
}
.showParagraph{
    opacity: 1;
    transition-delay: 1000ms;
    transition-duration: 700ms;
}