@use '../App.scss';

.landingWrapper {
    height: 100vh;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}
.aboutWrapper{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 100%;
    width: 100%;
}
.gridTwoAboutText, .gridOneAboutColor {
    grid-row: 1/2;
}
.gridTwoAboutText {
    grid-column: 3/10;
    z-index: 1;
    display: flex;
}
.gridOneAboutColor {
    background-color: App.$customBlue;
    grid-column: 2/-1;
}
.innerAboutText{
    margin: auto;
}
.aboutHeading {
    font-family: App.$headingFont;
    font-size: 65px;
}
.aboutParagraph {
    font-size: 40px;
    font-weight: 500;
    margin-top: 1rem;
}