@use '../App.scss';

.skillsGrid{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow:hidden;
}
.gridTwoText, .gridThreeSVG{
    grid-row: 1/3;
}
.gridOnePolygons{
    grid-row: 1/4;
}
.gridOnePolygons{
    grid-column: 1/5;
}
.gridTwoText{
    grid-column: 2/6;
}
.gridThreeSVG{
    grid-column: 6/-1;
}

.polygonImg{
    width: 600px;
}
.textWrapper{
    @include App.centerDiv;
    height: 100%;
    width: 100%;
    padding-left: 5rem;
}
.textWrapper h3{
    @include App.heading;
    margin-bottom: 3rem;
}
.textWrapper p{
    font-size: App.$textSize;
    margin-top: 2rem;
}
.skillsImg{
    width: 650px;
}
.skillsImgWrapper{
    height: 100%;
    @include App.centerDiv;
    padding-top: 4rem;
}