@use '../App.scss';
//-----GRID LEVEL STYLES------
.skillsGrid{
    min-height: 100vh;
    width: 100vw;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    overflow:hidden;
    row-gap: 23vh;
}
.gridOnePolygons{
    grid-row: 1/3;
}
.gridTwoText, .gridThreeSVG{
    grid-row: 2/3;
}
.gridButtons{
    grid-row: 3/4;
    grid-column: 4/12;
}

.gridOnePolygons{
    grid-column: 1/5;
}
.gridTwoText{
    grid-column: 2/7;
}
.gridThreeSVG{
    grid-column: 8/-1;
}

//-----INNER GRID STYLES------

//Polygon Styles
.polygonImg{
    width: 650px;
}

//Text Styles
.textWrapper{
    @include App.centerDiv;
    height: 100%;
    width: 100%;
}
.textWrapper h3{
    @include App.heading;
    margin-bottom: 3rem;
}
.textWrapper p{
    font-size: App.$textSize;
    margin-top: 2rem;
}

//Skills Image styles
.skillsImg{
    width: 650px;
}
.skillsImgWrapper{
    height: 100%;
    @include App.centerDiv;
}

//Button styles
.btnsWrapper{
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.leftBtn, .rightBtn{
    @include App.heading;
    color: App.$customBlack;
    font-size: 35px;
}
.link {
    text-decoration: none;
    color: App.$customBlack;
}
.arrowImg{
    width: 75px;
}