@use '../../App.scss';

.bkg{
    min-width: 100vw;
    background-color: App.$darkPurple;
    border-radius: 90px 0px 0px 0px;
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
// Loading spinner 
.spinnerWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

// Project card
.blogCard{
    overflow:hidden;
    margin: auto;
    border-radius: 0px;
    height: 400px;
    width: 300px;
}
.cardBody{
    overflow: hidden;
}

// Slider 
.sliderContainer{
    width: 70%;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.slider{
    transition-duration: 500ms;
}

.sliderItem{
    width: 100%;
    display: inline-block;
    white-space: normal;
}
@media(min-width: 768px){
    .sliderItem{
        width: 50%;
    }
}

// left and right arrows
.leftArrow, .rightArrow{
    margin-top: auto;
    margin-bottom: auto;
    position:absolute;
    top: 50%; 
}
.arrowIcon{
    width: 50px;
}

.rightArrow{
    right: 0;
}
.leftArrow{
    left: 0;
}
