@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "~bootstrap/scss/bootstrap";



//Global style variables
$customBlue: #3AAFA9;
$customRed: #FF3D33;
$customBlack: #17252A;
$darkPurple: #4441BF;
$navy: #182B3A;
$headingFont: 'Montserrat Subrayada', sans-serif;
$textFont: 'Montserrat', sans-serif;
$headingSize: 48px;
$textSize: 28px;

//Global mixins
@mixin centerDiv {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin heading {
  font-family: $headingFont;
  font-size: $headingSize;
  font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html {
    scroll-behavior: smooth;
 }
 body {
   font-family: $textFont;
 }

